<!-- <table border="1">
<thead>
  <tr><th>Name</th><th>Description</th></tr>
</thead>
<tbody>
  <tr>
    <td>Upper Yosemite Falls</td>
    <td>Upper Yosemite Falls Trail ...</td>
  </tr>
  <tr>
    <td>Vernal and Nevada Falls via the Mist Trail</td>
    <td>Vernal and Nevada Falls via the Mist Trail is a 6.4 mile ...</td>
  </tr>
</tbody>
</table> -->

<table border="1"><tr><th>data</th><td><table border="1"><thead><tr><th>id</th><th>name</th><th>position</th><th>salary</th><th>start_date</th><th>office</th><th>extn</th></tr></thead><tbody><tr><td>1</td><td>John Q Public</td><td>System Architect</td><td>$320,800</td><td>2011/04/25</td><td>Edinburgh</td><td>5421</td></tr><tr><td>2</td><td>Larry Bird</td><td>Accountant</td><td>$170,750</td><td>2011/07/25</td><td>Tokyo</td><td>8422</td></tr><tr><td>2</td><td>Larry Bird</td><td>Accountant</td><td>$170,750</td><td>2011/07/25</td><td>Tokyo</td><td>8422</td></tr><tr><td>2</td><td>Larry Bird</td><td>Accountant</td><td>$170,750</td><td>2011/07/25</td><td>Tokyo</td><td>8422</td></tr></tbody></table></td></tr></table>
